<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hongkuang.ditui.project.userCenter.coinsConsumptionLog.mapper.CoinsConsumptionLogMapper">

    <resultMap type="CoinsConsumptionLog" id="CoinsConsumptionLogResult">
        <result property="id" column="id"/>
        <result property="price" column="price"/>
        <result property="baseCoin" column="base_coin"/>
        <result property="giveCoin" column="give_coin"/>
        <result property="empId" column="emp_id"/>
        <result property="status" column="status"  typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="createBy" column="createBy"/>
        <result property="updateBy" column="updateBy"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectCoinsConsumptionLogVo">
        select id, price, base_coin, give_coin, emp_id, status, createBy, updateBy, create_time, update_time        from sys_coins_consumption_log
    </sql>

    <select id="selectCoinsConsumptionLogList" parameterType="CoinsConsumptionLog"
            resultMap="CoinsConsumptionLogResult">
        <include refid="selectCoinsConsumptionLogVo"/>
        <where>
            <if test="id != null ">and id = #{id}
            </if>
            <if test="price != null ">and price = #{price}
            </if>
            <if test="baseCoin != null ">and base_coin = #{baseCoin}
            </if>
            <if test="giveCoin != null ">and give_coin = #{giveCoin}
            </if>
            <if test="empId != null ">and emp_id = #{empId}
            </if>
            <if test="status != null">and status = #{status}
            </if>
            <if test="createBy != null  and createBy != '' ">and createBy = #{createBy}
            </if>
            <if test="updateBy != null  and updateBy != '' ">and updateBy = #{updateBy}
            </if>
            <if test="createTime != null ">and create_time = #{createTime}
            </if>
            <if test="updateTime != null ">and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <select id="selectCoinsConsumptionLogById" parameterType="Integer" resultMap="CoinsConsumptionLogResult">
        <include refid="selectCoinsConsumptionLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertCoinsConsumptionLog" parameterType="CoinsConsumptionLog">
        insert into sys_coins_consumption_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">id,
            </if>
            <if test="price != null  ">price,
            </if>
            <if test="baseCoin != null  ">base_coin,
            </if>
            <if test="giveCoin != null  ">give_coin,
            </if>
            <if test="empId != null  ">emp_id,
            </if>
            <if test="status != null ">status,
            </if>
            <if test="createBy != null  and createBy != ''  ">createBy,
            </if>
            <if test="updateBy != null  and updateBy != ''  ">updateBy,
            </if>
            <if test="createTime != null  ">create_time,
            </if>
            <if test="updateTime != null  ">update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">,
            </if>
            <if test="price != null  ">#{price},
            </if>
            <if test="baseCoin != null  ">#{baseCoin},
            </if>
            <if test="giveCoin != null  ">#{giveCoin},
            </if>
            <if test="empId != null  ">#{empId},
            </if>
            <if test="status != null ">#{status},
            </if>
            <if test="createBy != null  and createBy != ''  ">#{createBy},
            </if>
            <if test="updateBy != null  and updateBy != ''  ">#{updateBy},
            </if>
            <if test="createTime != null  ">#{createTime},
            </if>
            <if test="updateTime != null  ">#{updateTime},
            </if>
        </trim>
    </insert>

    <update id="updateCoinsConsumptionLog" parameterType="CoinsConsumptionLog">
        update sys_coins_consumption_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="price != null  ">price = #{price},
            </if>
            <if test="baseCoin != null  ">base_coin = #{baseCoin},
            </if>
            <if test="giveCoin != null  ">give_coin = #{giveCoin},
            </if>
            <if test="empId != null  ">emp_id = #{empId},
            </if>
            <if test="status != null ">status = #{status},
            </if>
            <if test="createBy != null  and createBy != ''  ">createBy = #{createBy},
            </if>
            <if test="updateBy != null  and updateBy != ''  ">updateBy = #{updateBy},
            </if>
            <if test="createTime != null  ">create_time = #{createTime},
            </if>
            <if test="updateTime != null  ">update_time = #{updateTime},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCoinsConsumptionLogById" parameterType="Integer">
        delete from sys_coins_consumption_log where id = #{id}
    </delete>

    <delete id="deleteCoinsConsumptionLogByIds" parameterType="String">
        delete from sys_coins_consumption_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>