<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <input type="hidden" id="taskIds">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            任务编号：<input type="text" name="taskId" style="width: 100px;"/>
                        </li>

                        <li>
                            订单数量：
                            <input type="text" name="orderNum" style="width: 100px;">
                        </li>
                        <li>
                            商品名称：
                            <input type="text" name="goodsName" style="width: 170px;">
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                        <li>
                            <label>当前页面总本金： <span id="taskCorpusTotal" style="line-height: 34px;">0.00</span></label>
                        </li>
                        <li>
                            <label>当前页面总佣金： <span id="taskCommissionPriceTotal" style="line-height: 34px;">0.00</span></label>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="automaticAssign()" shiro:hasPermission="busi:groundTask:waitDistribution:auto:real">
                <i class="fa fa-superpowers"></i> 分配至实时任务
            </a>
            <a class="btn btn-danger btn-balance-scale disabled" onclick="toReserve()"
               shiro:hasPermission="busi:groundTask:waitDistribution:list:reserve">
                <i class="fa fa-balance-scale"></i> 分配至储备任务
            </a>
            <a class="btn btn-danger btn-hand-sale disabled" onclick="toSale()"
               shiro:hasPermission="busi:groundTask:waitDistribution:hand:sale">
                <i class="fa fa-balance-scale"></i> 分配任务给员工
            </a>
            <a class="btn btn-primary btn-balance-scale disabled" onclick="distributionTeam()"
               shiro:hasPermission="busi:groundTask:waitDistribution:distributionTeam">
                <i class="fa fa-paper-plane"></i> 分配给合作团队
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="busi:groundTask:waitDistribution:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var showFlag = [[${@permission.hasPermi('busi:groundTask:waitDistribution:show')}]];
    var removeFlag = [[${@permission.hasPermi('busi:groundTask:waitDistribution:remove')}]];
    var prefix = ctx + "busi/groundTask/waitDistribution";
    var datas = [[${@dict.getType('task_allot_status')}]];
    $(function () {
        var options = {
            url: prefix + "/list",
            exportUrl: prefix + "/export",
            automaticAssignUrl: prefix + "/automaticAssign",
            removeUrl: prefix + "/remove",
            modalName: "任务",
            search: false,
            showExport: false,
            loadSuccess: function (data) {
                var taskCorpusTotal = 0;
                var taskCommissionPriceTotal = 0;
                var rows = data.rows;
                for (var i = 0, j = rows.length; i < j; i++) {
                    taskCorpusTotal += rows[i].taskCorpus;
                    taskCommissionPriceTotal += rows[i].taskCommissionPrice;
                }
                $("#taskCorpusTotal").html(($.unit.fen2yuan(taskCorpusTotal)));
                $("#taskCommissionPriceTotal").html(($.unit.fen2yuan(taskCommissionPriceTotal)));
            },
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '任务ID',
                    visible: false
                },
                {
                    field: 'taskId',
                    title: '任务编号',
                    sortable: true
                },
                {
                    field: 'platform',
                    title: '电商平台',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var platform = value.split(",");
                        var platformCon = '<ul>';
                        for (i = 0; i < platform.length; i++) {
                            platformCon += '<li style="margin-bottom: 5px;">' + platform[i] + '</li>';
                            platformCon += '<hr style="margin-bottom: 5px;margin-top: 0px;">';
                        }
                        return platformCon;
                    }
                },
                {
                    field: 'groupClassifys',
                    title: '组单分类',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var groupClassifys = value.split(",");
                        var groupClassifysCon = '<ul>';
                        for (i = 0; i < groupClassifys.length; i++) {
                            groupClassifysCon += '<li style="margin-bottom: 5px;">' + groupClassifys[i] + '</li>';
                            groupClassifysCon += '<hr style="margin-bottom: 5px;margin-top: 0px;">';
                        }
                        return groupClassifysCon;
                    }
                },
                {
                    field: 'goodsName',
                    title: '商品名称',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var goodsName = value.split(",");
                        var goodsCon = '<ul>';
                        for (i = 0; i < goodsName.length; i++) {
                            goodsCon += '<li style="margin-bottom: 5px;">' + goodsName[i] + '</li>';
                            goodsCon += '<hr style="margin-bottom: 5px;margin-top: 0px;">';
                        }
                        return goodsCon;
                    }
                },
                {
                    field: 'orderNum',
                    title: '订单数量',
                    sortable: true
                },
                {
                    field: 'taskCorpus',
                    title: '任务总本金',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.unit.fen2yuan(value);
                    }
                },
                {
                    field: 'taskCommissionPrice',
                    title: '任务总佣金',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.unit.fen2yuan(value);
                    }
                },
                {
                    field: 'status',
                    title: '任务状态',
                    sortable: true
                },
                {
                    field: 'teamRemark',
                    title: '团队备注',
                    formatter: function (value, row, index) {
                        return '<a href="#" onclick="showRemark(\'' + row.id + '\')" class="showKeyWords" orderTemplateId="' + value + '">查看备注</a>';
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + showFlag + '" href="#" onclick="showDetail(\'' + row.id + '\')"><i class="fa fa-eye"></i>查看</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                },
                {
                    field: 'task.create_time',
                    title: '任务生成时间',
                    sortable: true
                }]
        };
        $.table.init(options);
    });

    var showRemark = function (id) {
        var me = $(this);
        var url = prefix + '/showRemark/' + id;
        $.modal.open("", url, '600', '350');
    };

    var automaticAssign = function () {
        var rows = $('#bootstrap-table').bootstrapTable('getSelections');
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        } else {
            var taskIds = new Array();
            for (i = 0; i < rows.length; i++) {
                taskIds.push(rows[i].id);
            }
            $("#taskIds").val(taskIds.join(","));

            $.modal.confirm("确认要将选中的" + rows.length + "条数据分配到实时任务吗?", function () {
                $("#taskIds").val(taskIds.join(","));
                var url = prefix + "/realSetting";
                $.modal.open("请进行时间节点配置",url);
            });
        }
    }
    var toReserve = function () {
        var rows = $('#bootstrap-table').bootstrapTable('getSelections');
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        } else {
            var taskIds = new Array();
            for (i = 0; i < rows.length; i++) {
                taskIds.push(rows[i].taskId);
            }
            $.modal.confirm("确定将" + rows.length + "条任务分配至今天的储备任务吗？", function () {
                var url = prefix + "/toReserve";
                var data = {"taskId": taskIds.join(",")};
                $.operate.submit(url, "post", "json", data);
            });
        }
    }
    var toSale = function () {
        var rows = $('#bootstrap-table').bootstrapTable('getSelections');
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }else{
            var taskIds = new Array();
            for (i = 0; i < rows.length; i++) {
                taskIds.push(rows[i].taskId);
            }
            $("#taskIds").val(taskIds.join(","));
            $.modal.open("手动分配任务", prefix + "/toSale", 400, 450);
        }
    }
    $("input[type=text]").keypress(function (e) {
        if (e.keyCode == 13) {
            $.table.search();
        }
    })

    var distributionTeam = function () {
        var rows = $('#bootstrap-table').bootstrapTable('getSelections');
        console.log(rows);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        } else {
            var taskIds = new Array();
            for (i = 0; i < rows.length; i++) {
                taskIds.push(rows[i].id);
            }
            $("#taskIds").val(taskIds.join(","));

            $.ajax({
                cache: true,
                type: "POST",
                url: prefix + "/taskIsDistribution",
                data:{ids: rows.join()},
                async: false,
                error: function (request) {
                    $.modal.alertError("系统错误");
                },
                success: function (data) {
                    if (data.code != 0) {
                        $.modal.alertWarning("该任务是别人分给您的，您不能再分配给其他团队");
                        return;
                    }
                    var url = prefix + '/distributionTeam';
                    $.modal.open("请确认是否要将选中任务分配给合作团队？", url, "600", "320");
                }
            });
        }
    };
    var showDetail = function (id) {
            var url = prefix + '/showTaskDetails/' + id;
        var index = layer.open({
            type: 2,
            area: ['900px', ($(window).height() - 50) + 'px'],
            //不固定
            maxmin: true,
            shade: 0.3,
            title: '查看任务详情',
            content: url,
            // 弹层外区域关闭
            shadeClose: true
        });
        layer.full(index);
    }
</script>
</body>
</html>