<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>

<body class="gray-bg">
<div class="container-div ui-layout-center">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="user-form">
                <!--<input type="hidden" id="deptId" name="deptId">-->
                <input type="hidden" id="parentId" name="parentId">
                <div class="select-list">
                    <ul>
                        <li>
                            推荐人名称：<input type="text" id="name" name="name"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="add()" shiro:hasPermission="busi:recommend:manager:add">
                <i class="fa fa-plus"></i> 新增
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
<!--<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>-->
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('busi:recommend:manager:edit')}]];
    var removeFlag = [[${@permission.hasPermi('busi:recommend:manager:remove')}]];
    var datas = [[${@dict.getType('sys_normal_disable')}]];
    var prefix = ctx + "busi/recommend/manager";

    $(function () {
        $('body').layout({west__size: 185});
        queryUserList();
        // queryDeptTree();
    });

    function queryUserList() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "团队",
            search: false,
            showExport: false,
            fixedColumns: true,
            fixedNumber: 1,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '推荐人ID'
                },
                {
                    field: 'name',
                    title: '推荐人名称',
                    sortable: true
                },
                {
                    field: 'managerId',
                    title: '推荐掌柜',
                    formatter: function (value, row, index) {
                        return '<a href="#" class="showManager" id="' + row.id + '">查看推荐的掌柜</a>';
                    }
                },
                {
                    field: 'remark',
                    title: '备注',
                    formatter: function (value, row, index) {
                        return '<a href="#" class="showRemark" id="' + row.id + '" >查看备注</a>';
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }

    $(document).on('click', '.showManager', function () {
        var me = $(this);
        var url = prefix + '/showManager/' + me.attr('id');
        $.modal.open("", url, '600', '350');
    })

    $(document).on('click', '.showRemark', function () {
        var me = $(this);
        var url = prefix + '/showRemark/' + me.attr('id');
        $.modal.open("", url, '600', '350');
    })

    function add() {
        var url = prefix + '/add';
        $.modal.open("", url, '800', '350');
    }

</script>
</body>
</html>