<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
<body class="white-bg">
<div class="container-div">
    <form class="form-horizontal m" id="form-role-edit">
        <div class="form-group">
            <label class="col-sm-1 control-label">显示菜单</label>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <div id="menuTrees" class="ztree"></div>
            </div>
        </div>
        <div class="form-group col-sm-1 control-label">
            <a class="btn btn-primary" onclick="edit()">
                <i class="fa fa-edit"></i> 确认修改
            </a>
        </div>
    </form>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
<script th:inline="javascript">
    $(function () {
        var url = ctx + "system/menu/roleUserMenuTreeData";
        var options = {
            id: "menuTrees",
            url: url,
            check: {enable: true, nocheckInherit: true, chkboxType: {"Y": "ps", "N": "ps"}},
            expandLevel: 0
        };
        $.tree.init(options);
    });

    function edit() {
        var menuIds = $.tree.getCheckedNodes();
        menuIds += ",2152,2153";
        console.log("-----", menuIds);
        $.ajax({
            cache: true,
            type: "POST",
            url: ctx + "system/userMenu/edit",
            data: {
                "menuIds": menuIds
            },
            async: false,
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                $.modal.alert("修改菜单成功，正在自动刷新菜单！");
                setTimeout(function () {
                    $.operate.successCallback(data)
                }, 2000);
            }
        });
    }

</script>
</body>
</html>