<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/js/plugins/quploader/uploader.css}" rel="stylesheet"/>
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }

    .col-sm-4 {
        width: 36.3% !important;
    }

    .col-sm-10 {
        width: 86.3% !important;
    }

    .re {
        width: 103% !important;
    }
    .w-e-text-container{
        height: 150px !important;
    }
</style>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-order-template-add" th:object="${user}">
        <input id="id" name="id" th:value="*{userId}" type="hidden">
        <input id="managerId" name="managerId" th:value="*{userId}" type="hidden">
        <input id="managerUserName" name="managerUserName" th:value="*{userName}" type="hidden">
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align: left;width:13.3%">掌柜昵称：</label>
            <div class="col-sm-3">
                <input id="managerUserName2" name="managerUserName2" th:disabled="true" class="form-control"
                       th:value="*{userName}" type="text">
            </div>
            <label class="col-sm-4 control-label">模版简称：</label>
            <div class="col-sm-3">
                <input id="templateName" name="templateName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align: left;width:13.3%">电商平台：</label>
            <div class="col-sm-3">
                <input id="platform" name="platform" readonly="true" class="form-control" th:value="淘宝" type="text">
            </div>
            <label class="col-sm-4 control-label">指定团队：</label>
            <input hidden="hidden" name="teamName" id="teamName">
            <div class="col-sm-3">
                <select id="teamId" name="teamId" class="form-control m-b"
                        th:with="teamList=${@shopkeeper.getTeamList(null)}">
                    <option value="">请选择团队</option>
                    <option th:each="team : ${teamList}" th:text="${team.userName}"
                            th:value="${team.teamId}"></option>
                </select>
            </div>
        </div>
        <div class="ui divider" style="margin-right: 2px;"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align: left;width:13.3%">商品ID：</label>
            <div class="col-sm-8" style="width: 76.5%;">
                <input id="goodsId" name="goodsId" class="form-control" placeholder="可以输入商品ID一键获取店铺名称和商品主图"
                       style="display:block"/>
            </div>
            <div>
                <a class="btn btn-primary btn-edit" style="margin-left: -10px; height: 34px"
                   onclick="searchGoodsDetail(this)">
                    <i class="fa fa-search"></i> 获取
                </a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align: left;width:13.3%">店铺名称：</label>
            <input hidden="hidden" name="shopName" id="shopName">
            <div class="col-sm-3">
                <select id="shop" name="shop" class="form-control m-b"
                        th:with="shopList=${@shopkeeper.getShopList(null)}">
                    <option value="">请选择店铺</option>
                    <option th:each="shop : ${shopList}" th:text="${shop.name}"
                            th:value="${shop.shopId}"></option>
                </select>
            </div>
            <input id="shopId" name="shopId" hidden="hidden" class="form-control" type="text">
            <label class="col-sm-4 control-label">商品简称：</label>
            <div class="col-sm-3">
                <input id="goodsName" name="goodsName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align: left;width:13.3%">商品主图：</label>
            <div class="col-sm-5">
                <img th:height="160" th:width="160" id="goodsImgPreview"/>
                <input type="hidden" name="goodsImg" id="goodsImg"/>
                <a class="btn btn-primary btn-edit" id="goodsImgUpload">
                    <i class="fa fa-edit"></i> 上传
                </a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 field-section" style="width:100%">
                <table id="collapsingTable" class="ui celled very compact unstackable small center aligned table"
                       th:attr="data-max-count=2000">
                    <thead>
                    <tr>
                        <th th:each="head : ${itemHeaders}" th:utext="${head}"></th>
                        <th class="action-plus collapsing">
                            <i class="green plus link icon"></i>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="trTotal">
                        <td></td>
                        <td id="tdTotalNumberTotal">0</td>
                        <td id="tdAppNumberTotal">0</td>
                        <td id="tdPcNumberTotal">0</td>
                        <td id="tdCollectionNumberTotal">0</td>
                        <td id="tdCartNumberTotal">0</td>
                        <td id="tdCollectionCartNumberTotal">0</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" style="text-align: left;width:13.3%">下单要求：</label>
            <div class="col-sm-10">
                <input id="orderRequire" name="orderRequire" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" style="text-align: left;width:13.3%">商品本金：</label>
            <div class="col-sm-3">
                <input id="unitPrice" name="unitPrice" class="form-control" placeholder="单位：元" onchange="inputChange()"
                       type="number">
            </div>
            <label class="col-sm-4 control-label">商品佣金：</label>
            <div class="col-sm-3">
                <input id="commissionPrice" name="commissionPrice" placeholder="单位：元" class="form-control"
                       onchange="inputChange()" type="number">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" style="text-align: left;width:13.3%">掌柜要求：</label>
            <input id="managerRequire" name="managerRequire" type="hidden">
            <div class="col-sm-10" id="managerRequire2" name="managerRequire2" min-height="200" style="min-height: 200px;">
                <p>例如：麻烦收藏关注一下我们的网站和商品，以后还有0元购或者试用活动，首先，通知您。</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" style="text-align: left;width:13.3%">放单方式：</label>
            <div class="col-sm-3">
                <select id="executeMethod" class="form-control m-b" name="executeMethod"
                        th:with="type=${@dict.getType('execute_method')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group" style="margin-left: 0px;">
            <input hidden="hidden" id="question" name="question">
            <div class="ui checkbox">
                <input id="checkQuestion" style="width: 120px;" type="checkbox">
                <label>向买家提问</label>
            </div>
            <div class="col-sm-12 re" style="margin-top: 5px;">
                <label class="col-sm-2 control-label">主图视频：</label>
                <div class="col-sm-8" style="width: 82%"><input name="tbTransactionQuestion.mainVideo" id="mainVideo"
                                                                placeholder="例：第三次出现的人物衣服是什么颜色？" class="form-control"
                                                                type="text"></div>
            </div>
            <div class="col-sm-12 re" style="margin-top: 5px;">
                <label class="col-sm-2 control-label">主图浏览：</label>
                <div class="col-sm-8" style="width: 82%"><input name="tbTransactionQuestion.mainBrowse" id="mainBrowse"
                                                                placeholder="例：第5张主图有多少个人？" class="form-control"
                                                                type="text"></div>
            </div>
            <div class="col-sm-12 re" style="margin-top: 5px;">
                <label class="col-sm-2 control-label">详情视频：</label>
                <div class="col-sm-8" style="width: 82%"><input name="tbTransactionQuestion.detailVideo"
                                                                id="detailVideo" placeholder="例：商品参数中版型是什么版型？"
                                                                class="form-control" type="text"></div>
            </div>
            <div class="col-sm-12 re" style="margin-top: 5px;">
                <label class="col-sm-2 control-label">详情浏览：</label>
                <div class="col-sm-8" style="width: 82%"><input name="tbTransactionQuestion.detailBrowse"
                                                                id="detailBrowse" placeholder="例：商品参数中版型是什么版型？"
                                                                class="form-control" type="text"></div>
            </div>
            <div class="col-sm-12 re" style="margin-top: 5px;">
                <label class="col-sm-2 control-label">评价浏览：</label>
                <div class="col-sm-8" style="width: 82%"><input name="tbTransactionQuestion.evaluateBrowse"
                                                                id="evaluateBrowse" placeholder="例：差评有多少个？"
                                                                class="form-control" type="text"></div>
            </div>
        </div>
        <div class="ui divider" style="margin-right: 2px;"></div>
        <div class="form-group" style="text-align: center;">
            <div class="ui checkbox">
                <input style="width: 150px;" type="checkbox">
                <label>启用订单跟踪系统</label>
            </div>
            <div class="ui checkbox" style="margin-left: 50px;">
                <input style="width: 150px;" type="checkbox">
                <label>启用返利识别系统</label>
            </div>
        </div>
        <div class="form-group" style="text-align: center;">
            <input id="hiddenTotalNumber" name="totalNumber" type="hidden">
            <input id="hiddenTotalUnitPrice" name="totalUnitPrice" type="hidden">
            <input id="hiddenTotalCommissionPrice" name="totalCommissionPrice" type="hidden">
            总单量：<label id="totalNumber">0</label></label>&nbsp;&nbsp;
            总本金：<label id="unitPriceTotal">0</label></label>&nbsp;&nbsp;
            总佣金：<label id="commissionPriceTotal">0</label></label>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/js/plugins/quploader/Q.js}"></script>
<script th:src="@{/js/plugins/quploader/Q.Uploader.js}"></script>
<script th:src="@{/js/plugins/quploader/Q.Uploader.UI.File.js}"></script>
<script th:src="@{/wangEditor/wangEditor.min.js}"></script>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#managerRequire2');
    // 关闭粘贴样式的过滤
    editor.customConfig.pasteFilterStyle = false;
    // 忽略粘贴内容中的图片
    editor.customConfig.pasteIgnoreImg = false;
    editor.customConfig.uploadImgShowBase64 = true;
    // 自定义菜单配置
    editor.customConfig.menus = [
        'head',
        'bold',
        'image'
    ];
    editor.create();

    $(function () {
        var id = "";
        var name = "tbTransactionKeyWords";
        var fields = ['name', 'totalNumber', 'appNumber', 'pcNumber', 'collectionNumber', 'cartNumber', 'collectionCartNumber'];
        var table = $("#collapsingTable");
        var tableBody = $(table).find("tr.trTotal");
        var maxCount = $(table).attr("data-max-count");

        $(table).find("thead .action-plus").on("click", function () {
            var button = $(this);
            if ($(table).find("tbody tr").length >= maxCount) {
                $.modal.alertWarning("最多只能添加" + maxCount + "个项目");
                return false;
            }
            $(table).find("tr.empty").remove();
            var root = $('<tr></tr>');
            for (var i = 0; i < fields.length; i++) {
                var fieldCell = "";
                if (i == 0) {
                    fieldCell = $('<td><div class="ui mini fluid input"><input style="text-align: center;width:200px !important;" maxlength="30" placeholder="最多30个汉字"></div></td>');
                } else if (i == 1) {
                    fieldCell = $('<td><div class="ui mini input"><input style="text-align: center;width:46px !important;" type="number" onchange="totalNumberChange(this)"></div></td>');
                } else {
                    fieldCell = $('<td><div class="ui mini input"><input style="text-align: center;width:46px !important;" type="number" onchange="inputNumberChange(this)"></div></td>');
                }
                $(root).append(fieldCell);
            }
            var removeAction = $('<td class="action-remove"><i class="red remove link icon"></i></td>');
            $(root).append(removeAction);
            $(tableBody).before(root);
            resortItems();
            bindingRemoveEvent();
        });

        $(".re").hide();

        bindingRemoveEvent();

        function resortItems() {
            $(table).find("tbody tr").each(function (index, row) {
                $(row).find("input").each(function (fieldIndex, field) {
                    var inputId, inputName;
                    if (fields[fieldIndex].length === 0) {
                        inputId = name + index;
                        inputName = name + "[" + index + "]";
                    } else {
                        inputId = name + index + "." + fields[fieldIndex];
                        inputName = name + "[" + index + "]." + fields[fieldIndex];
                    }
                    $(field).attr("id", inputId);
                    $(field).attr("name", inputName);
                });
            });
            inputChange();
        }

        function bindingRemoveEvent() {
            $(table).find("tbody .action-remove").off("click");
            $(table).find("tbody .action-remove").on("click", function () {
                $(this).parent("tr").remove();
                resortItems();
            });
        }

        $(".action-plus").click();
    });

    $("#checkQuestion").change(function () {
        if ($(this).is(':checked') == true) {
            $(".re").show();
            $("#question").val("1");
        } else {
            $(".re").hide();
            $("#question").val("0");
        }
    });

    $("#shop").change(function () {
        $("#shopName").val($('#shop').find("option:selected").text());
        $("#shopId").val($('#shop').find("option:selected").val());
    });

    $("#teamId").change(function () {
        $("#teamName").val($('#teamId').find("option:selected").text());
        $("#teamId").val($('#teamId').find("option:selected").val());
    });

    var prefix = ctx + "busi/tbTransactionTemplate";
    window.UPLOAD_URL = "/common/upload";

    $("#form-order-template-add").validate({
        rules: {
            templateName: {
                required: true,
                minlength: 1,
                maxlength: 20,
                remote: {
                    url: prefix + "/checkTemplateNameUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        name: function () {
                            return $.common.trim($("#templateName").val());
                        },
                        managerId: function () {
                            return $("#managerId").val();
                        },
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            teamName: {
                required: true,
                minlength: 1,
                maxlength: 20
            },
            goodsName: {
                required: true
            },
            orderImg: {
                required: true
            },
            unitPrice: {
                required: true,
                min: 0
            },
            commissionPrice: {
                required: true,
                min: 0
            }
        },
        messages: {
            "templateName": {
                remote: "模版简称已经存在"
            }
        }
    });

    var uploader = new Q.Uploader({
        url: UPLOAD_URL,
        target: document.getElementById("goodsImgUpload"),
        view: document.getElementById("goodsImgPreview"),
        multiple: false,    //选择文件时是否允许多选
        auto: true,
        allows: ".jpg,.png,.gif,.bmp",
        on: {
            //添加之前触发
            add: function (task) {
                if (task.disabled) {
                    $.modal.alertWarning("允许上传的文件格式为：" + this.ops.allows);
                    return false;
                }
                this.ops.view.innerHTML = '';
                this.list = [];
                this.map = {};
                this.index = 0;
                this.workerIdle = 1;
            },
            complete: function (task) {
                if (task.json && task.json.files) {
                    var files = task.json.files;
                    $("#goodsImgPreview").attr("src", accessFileUrl + "/" + files[0]);
                    $("#goodsImg").val(files[0]);
                } else {
                    $.modal.alertWarning("上传图片失败，请重新上传");
                }
            }
        }
    });

    function submitHandler() {
        inputChange();
        if ($.validate.form()) {
            console.log(Number($("#unitPriceTotal").text()));
            if (Number($("#unitPriceTotal").text()) == 0 && Number($("#commissionTotal").text()) == 0) {
                $.modal.alertWarning("请填写关键词");
                return false;
            }
            if ($("#goodsImg").val() == "") {
                $.modal.alertWarning("请上传图片");
                return false;
            }
            if ($('#teamId').find("option:selected").val() == null || $('#teamId').find("option:selected").val() == "") {
                $.modal.alertWarning("请选择指定团队");
                return;
            }
            if ($('#shop').find("option:selected").val() == null || $('#shop').find("option:selected").val() == "") {
                $.modal.alertWarning("请选择店铺");
                return;
            }
            $("#shopName").val($('#shop').find("option:selected").text());
            $("#teamName").val($('#teamId').find("option:selected").text());
            $("#managerRequire").val(editor.txt.html());
            $.operate.save(prefix + "/add", $('#form-order-template-add').serialize());
        }
    }

    function totalNumberChange(obj) {
        //得到当前所在行
        var rowIndex = Number(obj.parentNode.parentNode.parentNode.rowIndex) - 1;
        var totalNumber = $("input[name='tbTransactionKeyWords[" + rowIndex + "].totalNumber']").val();
        console.log(totalNumber);
        $("input[name='tbTransactionKeyWords[" + rowIndex + "].appNumber']").val(totalNumber);
        $("input[name='tbTransactionKeyWords[" + rowIndex + "].pcNumber']").val(0);

        $("input[name='tbTransactionKeyWords[" + rowIndex + "].collectionNumber']").val(0);
        $("input[name='tbTransactionKeyWords[" + rowIndex + "].cartNumber']").val(0);
        $("input[name='tbTransactionKeyWords[" + rowIndex + "].collectionCartNumber']").val(0);

        inputChange();
    }

    function inputNumberChange(obj) {
        //得到当前所在行
        var rowIndex = Number(obj.parentNode.parentNode.parentNode.rowIndex) - 1;
        var totalNumber = Number($("input[name='tbTransactionKeyWords[" + rowIndex + "].totalNumber']").val());
        console.log(totalNumber);
        if ($(obj).attr("name") == "tbTransactionKeyWords[" + rowIndex + "].appNumber") {
            var appNumber = Number($("input[name='tbTransactionKeyWords[" + rowIndex + "].appNumber']").val());
            console.log("appNumber1-", appNumber);
            if (appNumber < 0) {
                appNumber = 0;
                $("input[name='tbTransactionKeyWords[" + rowIndex + "].appNumber']").val(appNumber);
            }
            if (totalNumber < appNumber) {
                $.modal.alertError("手机端、电脑端 之和不能超过单量");
                appNumber = totalNumber;
                console.log("appNumber2-", appNumber);
                console.log("totalNumber3-", totalNumber);
                $("input[name='tbTransactionKeyWords[" + rowIndex + "].appNumber']").val(totalNumber);
            }
            $("input[name='tbTransactionKeyWords[" + rowIndex + "].pcNumber']").val(totalNumber - appNumber);
        }

        if ($(obj).attr("name") == "tbTransactionKeyWords[" + rowIndex + "].pcNumber") {
            var pcNumber = Number($("input[name='tbTransactionKeyWords[" + rowIndex + "].pcNumber']").val());
            console.log("pcNumber1-", pcNumber);
            if (pcNumber < 0) {
                pcNumber = 0;
                $("input[name='tbTransactionKeyWords[" + rowIndex + "].pcNumber']").val(pcNumber);
            }
            if (totalNumber < pcNumber) {
                $.modal.alertError("手机端、电脑端 之和不能超过单量");
                pcNumber = totalNumber;
                console.log("pcNumber2-", pcNumber);
                console.log("totalNumber3-", totalNumber);
                $("input[name='tbTransactionKeyWords[" + rowIndex + "].pcNumber']").val(totalNumber);
            }
            $("input[name='tbTransactionKeyWords[" + rowIndex + "].appNumber']").val(totalNumber - pcNumber);
        }


        if ($(obj).attr("name") == "tbTransactionKeyWords[" + rowIndex + "].collectionNumber") {
            var collectionNumber = Number($("input[name='tbTransactionKeyWords[" + rowIndex + "].collectionNumber']").val());
            var cartNumber = Number($("input[name='tbTransactionKeyWords[" + rowIndex + "].cartNumber']").val());
            var collectionCartNumber = Number($("input[name='tbTransactionKeyWords[" + rowIndex + "].collectionCartNumber']").val());

            if (collectionNumber < 0) {
                collectionNumber = 0;
                $("input[name='tbTransactionKeyWords[" + rowIndex + "].collectionNumber']").val(collectionNumber);
                inputChange();
                return;
            }

            if (totalNumber < collectionNumber) {
                $.modal.alertError("收藏、加购、收藏+加购 之和不能超过单量");
                $("input[name='tbTransactionKeyWords[" + rowIndex + "].collectionNumber']").val(totalNumber - cartNumber - collectionCartNumber);
                inputChange();
                return;
            }
            if (collectionNumber + cartNumber + collectionCartNumber > totalNumber) {
                $.modal.alertError("收藏、加购、收藏+加购 之和不能超过单量");
                $("input[name='tbTransactionKeyWords[" + rowIndex + "].collectionNumber']").val(totalNumber - cartNumber - collectionCartNumber);
                inputChange();
                return;
            }
        }

        if ($(obj).attr("name") == "tbTransactionKeyWords[" + rowIndex + "].cartNumber") {
            var cartNumber = Number($("input[name='tbTransactionKeyWords[" + rowIndex + "].cartNumber']").val());
            var collectionNumber = Number($("input[name='tbTransactionKeyWords[" + rowIndex + "].collectionNumber']").val());
            var collectionCartNumber = Number($("input[name='tbTransactionKeyWords[" + rowIndex + "].collectionCartNumber']").val());

            if (cartNumber < 0) {
                cartNumber = 0;
                $("input[name='tbTransactionKeyWords[" + rowIndex + "].cartNumber']").val(cartNumber);
                inputChange();
                return;
            }

            if (totalNumber < cartNumber) {
                $.modal.alertError("收藏、加购、收藏+加购 之和不能超过单量");
                $("input[name='tbTransactionKeyWords[" + rowIndex + "].cartNumber']").val(totalNumber - collectionNumber - collectionCartNumber);
                inputChange();
                return;
            }
            if (collectionNumber + cartNumber + collectionCartNumber > totalNumber) {
                $.modal.alertError("收藏、加购、收藏+加购 之和不能超过单量");
                $("input[name='tbTransactionKeyWords[" + rowIndex + "].cartNumber']").val(totalNumber - collectionNumber - collectionCartNumber);
                inputChange();
                return;
            }
        }

        if ($(obj).attr("name") == "tbTransactionKeyWords[" + rowIndex + "].collectionCartNumber") {
            var collectionCartNumber = Number($("input[name='tbTransactionKeyWords[" + rowIndex + "].collectionCartNumber']").val());
            var cartNumber = Number($("input[name='tbTransactionKeyWords[" + rowIndex + "].cartNumber']").val());
            var collectionNumber = Number($("input[name='tbTransactionKeyWords[" + rowIndex + "].collectionNumber']").val());

            if (collectionCartNumber < 0) {
                collectionCartNumber = 0;
                $("input[name='tbTransactionKeyWords[" + rowIndex + "].collectionCartNumber']").val(collectionCartNumber);
                inputChange();
                return;
            }

            if (totalNumber < collectionCartNumber) {
                $.modal.alertError("收藏、加购、收藏+加购 之和不能超过单量");
                $("input[name='tbTransactionKeyWords[" + rowIndex + "].collectionCartNumber']").val(totalNumber - collectionNumber - cartNumber);
                inputChange();
                return;
            }
            if (collectionNumber + cartNumber + collectionCartNumber > totalNumber) {
                $.modal.alertError("收藏、加购、收藏+加购 之和不能超过单量");
                $("input[name='tbTransactionKeyWords[" + rowIndex + "].collectionCartNumber']").val(totalNumber - collectionNumber - cartNumber);
                inputChange();
                return;
            }
        }
        inputChange();
    }

    function searchGoodsDetail(obj) {
        $.modal.loading("正在查询中，请稍后...");
        var goodsId = $("#goodsId").val();
        if (goodsId == null || goodsId == "") {
            $.modal.alertError("请先输入商品ID");
            $.modal.closeLoading();
            return;
        }
        $.ajax({
            cache: true,
            type: "GET",
            url: ctx + 'external/api/searchGoodsDetail/' + goodsId,
            async: true,
            error: function (request) {
                $.modal.alertError("系统错误");
                $.modal.closeLoading();
            },
            success: function (data) {
                if (data.code != 0) {
                    $.modal.alertError(data.msg);
                    $.modal.closeLoading();
                    return;
                }
                if (data.data == null || data.data.goodsImg == null) {
                    $.modal.alertError("商品ID有误");
                    $.modal.closeLoading();
                    return;
                }
                $("#goodsImgPreview").attr("src", accessFileUrl + "/" + data.data.goodsImg);
                $("#goodsImg").val(data.data.goodsImg);
                console.log("-------------", data.data.goodsImg);
                if (!jsSelectIsExitItem("#shop", data.data.shopName)) {
                    $.modal.alertError("没有匹配的店铺，请手动选择或添加店铺");
                }
                $.modal.closeLoading();
            }
        });
    }

    function jsSelectIsExitItem(objSelect, objItemValue) {
        var isExit = false;
        var se = $(objSelect).select2();
        se.find("option").each(function (fieldIndex, field) {
            console.log($(field).text(), objItemValue);
            if ($(field).text() == objItemValue) {
                console.log("------------------1");
                isExit = true;
                se.val($(field).val()).trigger("change");
                return;
            }
        })
        return isExit;
    }

    function inputChange() {
        var tdTotalNumberTotal = 0;
        var tdAppNumberTotal = 0;
        var tdPcNumberTotal = 0;
        var tdCollectionNumberTotal = 0;
        var tdCartNumberTotal = 0;
        var tdCollectionCartNumberTotal = 0;
        $("#collapsingTable").find("tbody tr").each(function (index, row) {
            $(row).find("input[name='tbTransactionKeyWords[" + index + "].totalNumber']").each(function (fieldIndex, field) {
                var numVal = Number($(this).val());
                tdTotalNumberTotal += numVal;
            });
            $(row).find("input[name='tbTransactionKeyWords[" + index + "].appNumber']").each(function (fieldIndex, field) {
                var numVal = Number($(this).val());
                tdAppNumberTotal += numVal;
            });
            $(row).find("input[name='tbTransactionKeyWords[" + index + "].pcNumber']").each(function (fieldIndex, field) {
                var numVal = Number($(this).val());
                tdPcNumberTotal += numVal;
            });
            $(row).find("input[name='tbTransactionKeyWords[" + index + "].collectionNumber']").each(function (fieldIndex, field) {
                var numVal = Number($(this).val());
                tdCollectionNumberTotal += numVal;
            });
            $(row).find("input[name='tbTransactionKeyWords[" + index + "].cartNumber']").each(function (fieldIndex, field) {
                var numVal = Number($(this).val());
                tdCartNumberTotal += numVal;
            });
            $(row).find("input[name='tbTransactionKeyWords[" + index + "].collectionCartNumber']").each(function (fieldIndex, field) {
                var numVal = Number($(this).val());
                tdCollectionCartNumberTotal += numVal;
            });
        });
        var unitPrice = Number($("#unitPrice").val());
        var commissionPrice = Number($("#commissionPrice").val());
        //总单量
        $("#tdTotalNumberTotal").text(parseFloat(tdTotalNumberTotal));
        //手机端总量
        $("#tdAppNumberTotal").text(parseFloat(tdAppNumberTotal));
        //pc端总量
        $("#tdPcNumberTotal").text(parseFloat(tdPcNumberTotal));
        //收藏总量
        $("#tdCollectionNumberTotal").text(parseFloat(tdCollectionNumberTotal));
        //加购总量
        $("#tdCartNumberTotal").text(parseFloat(tdCartNumberTotal));
        //收藏+加购总量
        $("#tdCollectionCartNumberTotal").text(parseFloat(tdCollectionCartNumberTotal));

        $("#hiddenTotalUnitPrice").val(parseFloat(unitPrice * tdTotalNumberTotal).toFixed(2));
        $("#hiddenTotalCommissionPrice").val(parseFloat(commissionPrice * tdTotalNumberTotal).toFixed(2));
        $("#hiddenTotalNumber").val(parseFloat(tdTotalNumberTotal));

        $("#totalNumber").text(parseFloat(tdTotalNumberTotal));
        $("#unitPriceTotal").text(parseFloat(unitPrice * tdTotalNumberTotal).toFixed(2));
        $("#commissionPriceTotal").text(parseFloat(commissionPrice * tdTotalNumberTotal).toFixed(2));
    }

</script>
</body>
</html>
<SCRIPT Language=VBScript><!--

//-->

</SCRIPT>
