<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <input id="status" name="status" th:value="${status}" type="hidden">
                    <input id="teamId" name="teamId" th:value="${teamId}" type="hidden">
                    <ul>
                        <li>
                            模版简称：<input type="text" name="templateName" placeholder="请输入模版简称"/>
                        </li>
                        <li>
                            掌柜昵称：<input type="text" name="managerUserName" placeholder="请输入掌柜昵称"/>
                        </li>
                        <li>
                            店铺名称：<input type="text" name="shopName" placeholder="请输入店铺名称"/>
                        </li>
                        <li>
                            商品简称：<input type="text" name="goodsName" placeholder="请输入商品简称"/>
                        </li>
                        <li>
                            筛选备注：<select name="orTeamRemark" style="width: 100px;">
                            <option value="">所有</option>
                            <option th:value="0">未备注</option>
                            <option th:value="1">已备注</option>
                        </select>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" th:name="startTime" placeholder="开始时间"
                                   name="startTime"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" th:name="endTime" placeholder="结束时间"
                                   name="endTime"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                        <li>
                            <label>当前页面总本金： <span id="unitPriceTotal" style="line-height: 34px;">0.00</span></label>
                        </li>
                        <li>
                            <label>当前页面总佣金： <span id="commissionPriceTotal" style="line-height: 34px;">0.00</span></label>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-primary btn-edit" onclick="$.operate.executeCheck()"
               shiro:hasPermission="busi:tbTransactionTemplate:waitcheck:check">
                <i class="fa fa-edit"></i> 批量审核
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="busi:tbTransactionTemplate:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('busi:tbTransactionTemplate:edit')}]];
    var checkFlag = [[${@permission.hasPermi('busi:tbTransactionTemplate:waitcheck:check')}]];
    var removeFlag = [[${@permission.hasPermi('busi:tbTransactionTemplate:remove')}]];
    var prefix = ctx + "busi/tbTransactionTemplate";
    var shopPlatformDatas = [[${@dict.getType('shop_platform')}]];
    var status = [[${status}]];
    var role = [[${@userSubject.getLoginUserRoles()}]];
    var managerEdit = ctx + "busi/tbTransactionTemplate/edit/{id}";
    $(function () {
        var options = {
            url: prefix + "/list",
            updateUrl: prefix + "/waitcheck/edit/{id}",
            removeUrl: prefix + "/remove",
            executeCheckUrl: prefix + "/executeCheck",
            modalName: "淘宝成交模版",
            params: {"status": status},
            search: false,
            showExport: false,
            loadSuccess: function (data) {
                var unitPriceTotal = 0;
                var commissionPriceTotal = 0;
                var rows = data.rows;
                for (var i = 0, j = rows.length; i < j; i++) {
                    unitPriceTotal += rows[i].unitPrice * rows[i].totalNumber;
                    commissionPriceTotal += rows[i].commissionPrice * rows[i].totalNumber;
                }
                $("#unitPriceTotal").html(($.unit.fen2yuan(unitPriceTotal)));
                $("#commissionPriceTotal").html(($.unit.fen2yuan(commissionPriceTotal)));
            },
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '模版ID',
                    visible: true
                },
                {
                    field: 'platform',
                    title: '平台',
                    sortable: true
                },
                {
                    field: 'managerUserName',
                    title: '掌柜昵称',
                    sortable: true
                },
                {
                    field: 'shopName',
                    title: '店铺名称',
                    sortable: true
                },
                {
                    field: 'goodsName',
                    title: '商品简称',
                    sortable: true
                },
                {
                    field: 'id',
                    title: '关键词',
                    formatter: function (value, row, index) {
                        return '<a href="#" onclick="showDetail(\'' + row.id + '\')" class="showKeyWords" orderTemplateId="' + value + '">查看关键词</a>';
                    }
                },
                {
                    field: 'totalNumber',
                    title: '总单量',
                    sortable: true
                },
                {
                    field: 'unitPrice',
                    title: '商品本金',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.unit.fen2yuan(value);
                    }
                },
                {
                    field: 'commissionPrice',
                    title: '商品佣金',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.unit.fen2yuan(value);
                    }
                },
                {
                    field: 'goodsImg',
                    title: '商品主图',
                    formatter: function (value, row, index) {
                        return $.image.preview(value);
                    }
                },
                {
                    field: role.indexOf("team") != -1 ? 'teamRemark' : 'managerRemark',
                    title: role.indexOf("team") != -1 ? '团队备注' : '掌柜备注',
                    formatter: function (value, row, index) {
                        return '<a href="#" onclick="showRemark(\'' + row.id + '\')" class="showKeyWords" orderTemplateId="' + value + '">查看备注</a>';
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];

                        actions.push('<a class="btn btn-success btn-xs ' + checkFlag + '" href="#" onclick="$.operate.executeCheck(\'' + row.id + '\')"><i class="fa fa-edit"></i>审核</a> ');
                        role.indexOf("team") != -1 ? actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ') : actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.editUrl(\'' + row.id + '\',\'\' + managerEdit + \'\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                }
            ]
        };
        $.table.init(options);
    });
    var showDetail = function (id) {
        var url = prefix + '/keyWordsList/' + id;
        $.modal.open("查看关键词列表", url);
    };
    var showRemark = function (id) {
        var me = $(this);
        var url = prefix + '/showRemark/' + id;
        $.modal.open("", url, '600', '350');
    }
    $("input[type=text]").keypress(function (e) {
        if (e.keyCode == 13) {
            $.table.search();
        }
    });

    $(document).on("click", ".preview", function () {
        var me = $(this);
        var previewJson = {
            "title": "商品主图", //相册标题
            "id": 123, //相册id
            "start": 0, //初始显示的图片序号，默认0
            "data": [   //相册包含的图片，数组格式
                {
                    "alt": "商品主图",
                    "pid": 666, //图片id
                    "src": me.attr("src"), //原图地址
                    "thumb": me.attr("src") //缩略图地址
                }
            ]
        }
        layer.photos({
            photos: previewJson
            , anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        });
    })

</script>
</body>
</html>