<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            任务编号：<input type="text" name="taskId" style="width: 100px;"/>
                        </li>
                        <li>
                            订单数量：
                            <input type="text" name="orderNum" style="width: 100px;">
                        </li>
                        <li>
                            业务员：
                            <input type="text" name="saleName" style="width: 100px;">
                        </li>
                        <li>
                            商品名称：
                            <input type="text" name="goodsName" style="width: 170px;">
                        </li>
                        <li>
                            订单状态：<select name="taskStatus" style="width: 100px;"
                                         th:with="type=${@dict.getType('task_status')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li class="select-time">
                            <label>完成时间： </label>
                            <input type="text" class="time-input" id="startTime" th:name="startTime" name="startTime"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" th:name="endTime" name="endTime"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="busi:task:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var showFlag = [[${@permission.hasPermi('busi:task:show')}]];
    var removeFlag = [[${@permission.hasPermi('busi:task:remove')}]];
    var prefix = ctx + "busi/task";
    var datas = [[${@dict.getType('task_status')}]];
    $(function () {
        var options = {
            url: prefix + "/history",
            exportUrl: prefix + "/historyExport",
            removeUrl: prefix + "/remove",
            modalName: "任务",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                }, {
                    field: 'sale.name',
                    title: '业务员姓名',
                    sortable: true,
                    formatter: function (value, row) {
                        return row.saleName;
                    }
                },
                {
                    field: 'area',
                    title: '所在地区',
                    sortable: true
                },
                {
                    field: 'task.taskId',
                    title: '任务编号',
                    sortable: true,
                    formatter: function (value, row) {
                        return row.taskId;
                    }
                },
                {
                    field: 'bo.goods_name',
                    title: '商品名称',
                    sortable: true,
                    formatter: function (value, row, index) {
                        var goodsName = row.goodsName.split(",");
                        var goodsCon = '<ul>';
                        for (i = 0; i < goodsName.length; i++) {
                            goodsCon += '<li style="margin-bottom: 5px;">' + goodsName[i] + '</li>';
                            goodsCon += '<hr style="margin-bottom: 5px;margin-top: 0px;">';
                        }
                        return goodsCon;
                    }
                },

                {
                    field: 'order_num',
                    title: '订单数量',
                    sortable: true,
                    formatter: function (value, row) {
                        return row.orderNum;
                    }
                },
                {
                    field: 'task_corpus',
                    title: '任务本金',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.unit.fen2yuan(row.taskCorpus);
                    }
                },
                {
                    field: 'task.create_time',
                    title: '任务生成时间',
                    sortable: true,
                    formatter: function (value, row) {
                        return row.createTime;
                    }
                },
                {
                    field: 'completionTime',
                    title: '任务完成时间',
                    sortable: true
                },
                {
                    field: 'taskStatus',
                    title: '任务状态',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + showFlag + '" href="#" onclick="showDetail(\'' + row.id + '\')"><i class="fa fa-eye"></i>查看</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
    var showDetail = function (id) {
        var url = prefix + '/showTaskDetails/' + id;
        var index = layer.open({
            type: 2,
            area: ['900px', ($(window).height() - 50) + 'px'],
            //不固定
            maxmin: true,
            shade: 0.3,
            title: '查看任务详情',
            content: url,
            // 弹层外区域关闭
            shadeClose: true
        });
        layer.full(index);
    }

    var moveToHistory = function () {
        var rows = $('#bootstrap-table').bootstrapTable('getSelections');
        if (rows.length == 0) {
            $.modal.confirm("没有选中的数据，是否将所有任务转移到历史记录？", function () {
                var data = {type: 1};
                toHistory(data)
            });
            return;
        } else {
            var taskIds = new Array();
            for (i = 0; i < rows.length; i++) {
                taskIds.push(rows[i].taskId);
            }

            $.modal.confirm("确定将" + rows.length + "条选中的任务转移到历史记录？", function () {
                var data = {"taskId": taskIds.join(","), type: 2};
                toHistory(data)
            });
        }
    }
    $("input[type=text]").keypress(function (e) {
        if (e.keyCode == 13) {
            $.table.search();
        }
    })
    var toHistory = function (data) {
        var url = prefix + "/moveToHistory";
        $.operate.submit(url, "post", "json", data);
    }
</script>
</body>
</html>