<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>
    .time-input, .time-picker-input {
        border-radius: 4px;
        width: 200px;
    }
</style>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-task-edit">
        <!--<input th:value="${taskDate}" id="hideTaskDate" type="hidden">-->
        <div class="form-group">
            <label class="col-sm-3 control-label">放单时间设置：</label>
            <div class="col-sm-8">
                <input id="taskDate" name="taskDate" th:value="${taskDate}" class="time-input form-control"
                       click="changeTaskDate()" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <input id="id1" name="id1" type="hidden">
                <input id="s1" name="s1" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">~</label>
            <div class="col-sm-3">
                <input id="t1" name="t1" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">任务数量：</label>
            <div class="col-sm-2">
                <input id="taskNum1" name="taskNum1" class="form-control" style="width: 80px;" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <input id="id2" name="id2" type="hidden">
                <input id="s2" name="s2" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">~</label>
            <div class="col-sm-3">
                <input id="t2" name="t2" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">任务数量：</label>
            <div class="col-sm-2">
                <input id="taskNum2" name="taskNum2" class="form-control" style="width: 80px;" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <input id="id3" name="id3" type="hidden">
                <input id="s3" name="s3" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">~</label>
            <div class="col-sm-3">
                <input id="t3" name="t3" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">任务数量：</label>
            <div class="col-sm-2">
                <input id="taskNum3" name="taskNum3" class="form-control" style="width: 80px;" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <input id="id4" name="id4" type="hidden">
                <input id="s4" name="s4" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">~</label>
            <div class="col-sm-3">
                <input id="t4" name="t4" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">任务数量：</label>
            <div class="col-sm-2">
                <input id="taskNum4" name="taskNum4" class="form-control" style="width: 80px;" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <input id="id5" name="id5" type="hidden">
                <input id="s5" name="s5" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">~</label>
            <div class="col-sm-3">
                <input id="t5" name="t5" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">任务数量：</label>
            <div class="col-sm-2">
                <input id="taskNum5" name="taskNum5" class="form-control" style="width: 80px;" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <input id="id6" name="id6" type="hidden">
                <input id="s6" name="s6" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">~</label>
            <div class="col-sm-3">
                <input id="t6" name="t6" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">任务数量：</label>
            <div class="col-sm-2">
                <input id="taskNum6" name="taskNum6" class="form-control" style="width: 80px;" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <input id="id7" name="id7" type="hidden">
                <input id="s7" name="s7" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">~</label>
            <div class="col-sm-3">
                <input id="t7" name="t7" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">任务数量：</label>
            <div class="col-sm-2">
                <input id="taskNum7" name="taskNum7" class="form-control" style="width: 80px;" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <input id="id8" name="id8" type="hidden">
                <input id="s8" name="s8" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-1 control-label">~</label>
            <div class="col-sm-3">
                <input id="t8" name="r8" class="time-picker-input form-control" type="text">
            </div>
            <label class="col-sm-2 control-label">任务数量：</label>
            <div class="col-sm-2">
                <input id="taskNum8" name="taskNum8" class="form-control" style="width: 80px;" type="text">
            </div>
        </div>

    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" th:inline="javascript">
    var prefix = ctx + "busi/task"
    $("#form-task-edit").validate({
        rules: {
            s1: "required",
            s2: "required",
            s3: "required",
            s4: "required",
            s5: "required",
            s6: "required",
            s7: "required",
            s8: "required",
            t1: "required",
            t2: "required",
            t3: "required",
            t4: "required",
            t5: "required",
            t6: "required",
            t7: "required",
            t8: "required",
            taskNum1: {
                min: 0,
                digits: true
            },
            taskNum2: {
                min: 0,
                digits: true
            },
            taskNum3: {
                min: 0,
                digits: true
            },
            taskNum4: {
                min: 0,
                digits: true
            },
            taskNum5: {
                min: 0,
                digits: true
            },
            taskNum6: {
                min: 0,
                digits: true
            },
            taskNum7: {
                min: 0,
                digits: true
            },
            taskNum8: {
                min: 0,
                digits: true
            }
        }
    });

    $(function () {
        var timeSetting = [[${timeSetting}]];
        if (timeSetting.length == 0) {
            timeSetting.push({"id": "", "startTimeNode": "08:00", stopTimeNode: "09:59", "taskNum": "0"});
            timeSetting.push({"id": "", "startTimeNode": "10:00", stopTimeNode: "11:59", "taskNum": "0"});
            timeSetting.push({"id": "", "startTimeNode": "12:00", stopTimeNode: "13:59", "taskNum": "0"});
            timeSetting.push({"id": "", "startTimeNode": "14:00", stopTimeNode: "15:59", "taskNum": "0"});
            timeSetting.push({"id": "", "startTimeNode": "16:00", stopTimeNode: "17:59", "taskNum": "0"});
            timeSetting.push({"id": "", "startTimeNode": "18:00", stopTimeNode: "19:59", "taskNum": "0"});
            timeSetting.push({"id": "", "startTimeNode": "20:00", stopTimeNode: "21:59", "taskNum": "0"});
            timeSetting.push({"id": "", "startTimeNode": "22:00", stopTimeNode: "23:59", "taskNum": "0"});
        }
        for (var i = 1; i < 9; i++) {
            var setting = timeSetting[i - 1];
            $("#s" + i).val(setting.startTimeNode);
            $("#t" + i).val(setting.stopTimeNode);
            $("#id" + i).val(setting.id);
            $("#taskNum" + i).val(setting.taskNum);
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            addOrEditRealSetting();
        }
    }

    var addOrEditRealSetting = function () {
        var array = new Array();
        for (var i = 1; i < 9; i++) {
            var obj = {};
            obj["s"] = $("#s" + i).val();
            obj["t"] = $("#t" + i).val();
            obj["id"] = $("#id" + i).val();
            obj["taskNum"] = $("#taskNum" + i).val();
            array.push(obj);
        }
        var data = {
            settings: array,
            taskDate: $("#taskDate").val()
        };

        var config = {
            url: prefix + "/addOrEditRealSetting",
            data: JSON.stringify(data),
            callback: function (data) {
                $.modal.alertSuccess("保存成功");
                $.modal.closeLoading();
            }
        };
        $ajax(config);
    }

    function onSelectDate(value, date) {
        location.href = "/busi/task/realSetting?taskDate=" + value;
    }

    // log.info($("#hideTaskDate").val())
    //
    //     layui.use('laydate', function(){
    //         var laydate = layui.laydate;
    //
    //         laydate.render({
    //             elem: '#taskDate',
    //             format: 'yyyy-MM-dd',
    //             value : $("#hideTaskDate").val()
    //         });
    //     });
</script>
</body>
</html>
